{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Mudar Senha</title>
{% endblock %}
{% block conteudo %}
<div class="container">
    {% include 'partils/_alertas.html' %}
    <div class="row">
        <div class="col-5 mx-auto mt-3">
            <div align="center">
                <h2>Mudar senha</h2>
            </div>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success mt-3" value="Salvar">
            </form>
        </div>
    </div>
</div>
{% endblock %}